<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  </head>
  <body>
    <a href="/users/logout">Logout</a>
    <h1>Hello <%= user %></h1>
  </body>
</html>