<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  </head>
  <body>
    <h1>Home</h1>
    <a href="/users/login">Login</a>
  </body>
</html>